 @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #1B1B1B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: #222; /* Slightly lighter dark background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.3);
    text-align: center;
}

h2 {
    color: #CC0000;
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #FF0000;
    border-radius: 5px;
    background: white;
    color: black;
}

button {
    background-color: #CC0000;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #AA0000;
}

/* Responsive Design */
@media (max-width: 480px) {
     body{
         font-family: 'Red Hat Display', sans-serif;
    background-color: #1B1B1B;
    color: white;

     }
    .container {
        width: 95%;
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}

